@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

h1, h2 {
  @apply font-bold;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

ol {
  @apply list-decimal pl-8;
}

.code {
  background-color: rgb(45, 45, 45);
  @apply p-2 rounded-lg;
}

th, td {
  @apply p-2 border;
}

.title {
  @apply border border-dashed rounded-xl;
  @apply mx-auto my-8 max-w-[35%] p-8;
  @apply text-center;
}

div.title h1 {
  @apply h-full mb-4;
}
